body{
    background-color: #a0e2b3;
    color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

.content{
    border: px solid red;
    
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    border: px solid green;
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contenedor del menú */
.bugger-dropdown {
  position: absolute;
  right: 100px;
}

/* Estilo del botón del menú */
.menu {
  height: 50px;
  width: 100px;
  background: none;
  border: 3px solid rgb(0, 255, 119); /* Color del borde */
  color: rgb(0, 255, 119); /* Color del texto */
  font-weight: bolder;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover en el botón */
.menu:hover {
  background-color: rgb(0, 255, 119);
  color: black; /* Cambia el color del texto cuando se pasa el cursor */
}

/* Dropdown menú oculto por defecto */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%; /* Coloca el menú justo debajo del botón */
  left: 0;
  background-color: rgb(4, 231, 110);
  min-width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Elementos del dropdown */
.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #e0e0e0;
  color: black;
}

/* Mostrar el menú cuando se pasa el cursor sobre el contenedor */
.menu-container:hover .dropdown-menu {
  display: block;
}

.entradas{
    margin-top: 50px;
    display: flex;
    background-color: transparent;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    height: auto;
    width: 60%;
    border-radius: 10px;
    border: 1px solid yellow;

}
form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}
.input {
    background-color: #ececec;
    width: 300px;
    height: 25px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(0, 0, 0);
  }
  
  
  .input:focus {
    
    background-color: #f1f1f1;
    outline-color: rgb(0, 255, 119);
    box-shadow: -3px -3px 15px rgb(160, 240, 131);
    transition: .1s;
    
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    width: 30px;   /* Adjust width */
    height: 30px;  /* Adjust height */
    background-size: contain; /* Ensure icon is not stretched */
    
  }
  input::placeholder {
    color: #000000; /* Cambia a cualquier color que desees */
    opacity: 1; /* Cambia la opacidad si es necesario */
}

select
{
    background-color: #ececec;
    width: 323px;
    height: 48px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

select:hover{
    background-color: #f1f1f1;
    outline-color: rgb(0, 255, 119);
    box-shadow: -3px -3px 15px rgb(160, 240, 131);
    transition: .1s;
}
.submit_button{
width: 30%;
border: 3px solid rgb(255, 255, 255);
background-color:  rgb(0, 0, 0);
color: rgb(255, 255, 255);
transition: 0.7ms;
cursor: pointer;
font-weight: bold;
height: 40px;
border-radius: 5px;
transition: 0.5s;
}
.submit_button:hover{
    
background-color:  rgb(65, 65, 65);
}
.submit_container{
    border: 1px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.opciones{
    margin-top: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 50px;
}


.options_button{
    height: 40px;
    width: 90px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}



  .edit_button{
    height: 40px;
    width: 90px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    background-color: #00ff00;
    transition: 0.3s;
  }
  .edit_button:hover{
    background-color: #03e703;
  }
  .delete_button{
    height: 40px;
    width: 90px;
    font-weight: bold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    background-color: red;
    transition: 0.3s;
  }
  .delete_button:hover{
    background-color: rgb(226, 7, 7);
  }
  .contenido_db{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  table {
    background: #24d28a;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin: 1em;
  }
  th {
    background: #29ee9c;
    border-bottom: 1px solid #364043;
    color: #000000;
    border: 2px solid white;
    font-weight: bolder;
    padding: 15px;
    text-align: left;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  td {
    color: #000000;
    padding: 15px;
    border: 2px solid white;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .disabled td {
    color: #4F5F64;
  }
  .search_db_container{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid green;
    height: 100px;
    width: 80%;
  }
  .search_button{
    margin-left: 10px;
    height: 40px;
    width: 100px;
    border: 2px solid white;
    transition: 0.3s;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search_button:hover{
    border: 2px solid  rgb(0, 255, 119);
    box-shadow: -3px -3px 15px rgb(160, 240, 131);
  }

  .reporte{
    display: flex;
    margin: 5px;
    border: 1px solid black;
    width: 70%;
    height: auto;
    background-color: #24d28a;
    justify-content: center;
    align-items: center;
  }